.cover__subtitle {
  max-width: 360px;
  width: calc(100% - 412px * 2);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    width: calc(100% - 332px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    width: calc(100% - 204px * 2);
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    width: calc(100% - 16px * 2);
    font-size: 14px;
    line-height: 16px;
  }
}