.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 0 0;
  color: #ffffff;
  text-decoration: none;
  padding-right: 18px;
  transition: ease-in-out 0.2s;
  display: block;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px){
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
    padding-right: 0;
  }
}