.cover__overlay {
  text-decoration: none;
  color: #ffffff;
  max-width: 1184px;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 245px 0 343px 0;
  margin: 0 0 0 0;
  z-index: 1;
  position: relative;
  content:'';
  transition: ease-in-out 0.4s;
  background: #2a2c2f4c;
}

.cover__overlay:hover {
  background: #2a2c2fcc;
}

@media screen and (min-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (min-width: 425px) {
  .cover__overlay {
    min-height: 200px;
  }
}