.cover__overlay {
  text-decoration: none;
  color: #ffffff;
  max-width: 1184px;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 245px 0 245px 0;
  margin: 0 0 0 0;
  z-index: 1;
  position: relative;
  content:'';
  transition: ease-in-out 0.4s;
  background: #2a2c2f4c;
}

.cover__overlay:hover {
  background: #2a2c2fcc;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-height: 640px;
    padding: 195px 0 195px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-height: 480px;
    padding: 155px 0 155px 0;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    max-height: 200px;
    padding: 33px 0 33px 0;
  }
}