.cover__overlay {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 740px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-image: url(../../../images/cover_background.jpg);
  background-size: cover;
  color: #ffffff;
}
  
.cover__overlay::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  background: #2A2C2F;
  opacity: .3;
  transition: ease-in-out 0.4s;
}

.cover__overlay:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}