.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: calc(100% - 16px * 2);
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 64px 0 48px 16px;
  }
}